@import "reset.css";

html {
    height: 100%;
    width: 100%;
}

body {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    background-color: gainsboro;
    padding: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.color-options,
.ai-color-options{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.color-option,
.ai-color-option {
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 25px;
    border: 5px solid white;
    transition: transform ease-in-out .1s;
}

.color-option:hover,
.ai-color-option:hover{
    transform: scale(1.2);
}

canvas {
    width: 800px;
    height: 800px;
    background-color: white;
    border-radius: 10px;
}

.options {
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.detailed-options {
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.option {
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 25px;
    border: 5px solid white;
    transition: transform ease-in-out .1s;
    transition: width 0.3s ease;
}

.option:hover {
    transform: scale(1.2);
    width: 100px;
}

button,
label {
    all: unset;
    text-align: center;
    background-color: royalblue;
    color: white;
    transition: opacity linear .3s;
}

button:hover {
    opacity: 0.85;
}
label:hover {
    opacity: 0.85;
}

input#color {
    height: 30px;
    background-color: white;
    border: white;
}

input#text {
    all: unset;
    padding: 10px 0px;
    text-align: center;
    border-radius: 10px;
    font-weight: 500;
    background-color: white;
}

input#file {
    display: none;
}

.selected {
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
}